@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;1,200&family=Raleway:wght@400;700&display=swap');

body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #222;
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
  text-align: center;
  line-height: 1.4em;
  padding: 0;
  margin: 0;
}

.full-page-wrapper {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

main {
  padding: 0;
}

h3 {
  margin-top: 30px;
}

code {
  font-family: monospace;
  padding: 5px;
  color: black;
  background-color: #fff;
	border-radius: 5px;
  font-weight: 600;
}

.user-stories li {
  margin-bottom: 1em;
}

a {
  color: #2574a9;
}

form {
  max-width: 600px;
}

label {
  margin-right: 10px;
}

fieldset {
  margin: 0 auto;
  padding: 0;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  border: 3px solid #5927E5;
  border-radius: 5px;
  height: 20vh;
  min-height: 100px;
}

form {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

form .inputBox {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

legend {
  font-size: 20px;
  font-family: "poppins", Arial, Helvetica, sans-serif;
  padding: 0 20px;
}

input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  height: 100%;
  outline: none;
  border-radius: 5px;
  border: 2px solid #ACA7CB;
  text-align: center;
  margin-right: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

input[type='text'] {
  width: 220px;
}


